<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci minha senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div style="margin: auto 0;">
        <div class="auth_container">
            {% if success %}
                <div class="auth_header">
                    <h2>Email enviado com sucesso</h2>
                </div>
                <p>Um E-mail foi enviado para o endereço fornecido, cheque sua caixa de mensagens!</p>
            {% else %}
                <div class="auth_header">
                    <h2>Digite seu email</h2>
                </div>

                <form method="POST" class="auth_form">
                    <div class="auth_section">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required value=""
                            placeholder="{% if error %}{{ error }}{% else %}nome@email.com{% endif %}">
                    </div>

                    <div class="auth_section">
                        <button type="submit" class="submit_btn fgrt_pass"></button>
                    </div>
                </form>
            {% endif %}
            <div class="divisor"></div>
            <a href="{{url_for('index')}}" class="useful_btn" type="submit" style="margin: auto;">Voltar para home</a>
        </div>
    </div>
</body>
</html>